<div class="card shadow" (click)="showTaskModal()" style="margin-bottom: 10px; cursor: pointer;">

    <div class="card-body">

            <span *ngIf="unreadComments > 0" style="position: absolute; top: -8px; right: 0;" class="badge badge-danger">
                {{unreadComments}} Comments
            </span>

        <h5>{{task?.task_title}}</h5>
        <hr>
        <p>
            {{task?.task_description}}
        </p>
        <br>
        <table class="table table-sm">
            <tr>
                <td>Due In:</td>
                <td>
                    <span class="badge {{ dueIn?.days() < 2 ? 'badge-danger' : 'badge-success' }}">
                        {{ dueIn?.humanize(true) }}
                    </span>
                </td>
            </tr>
            <tr>
                <td>Due Date:</td>
                <td>
                    <span class="badge badge-primary">{{ task?.due_date + ' UTC' | date: 'dd-MMM-yyyy' }}</span> <br>
                    <span class="badge badge-primary">{{ task?.due_date + ' UTC' | date: 'hh:mm a' }}</span>
                </td>
            </tr>
            <tr *ngIf="task?.assigned_to.name != currentUser?.name">
                <td>Assigned To:</td>
                <td>{{ task?.assigned_to.name }}</td>
            </tr>
            <tr *ngIf="task?.assigned_by.name != currentUser?.name">
                <td>Assigned By:</td>
                <td>{{ task?.assigned_by.name }}</td>
            </tr>
        </table>
    </div>
</div>

<div bsModal #taskModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Task
                    <button *ngIf="task?.assigned_by?.id == currentUser?.id" [routerLink]="['/tasks/' + task.id]" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit"></i>
                        Edit
                    </button>
                </h4>
            <button type="button" class="close" (click)="closeTaskModal()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Task Details</div>
                            <div class="card-body">
                                <h5>{{task?.task_title}}</h5>
                                <hr>
                            
                                <p>
                                    {{task?.task_description}}
                                </p>
                            
                                Due Date: <span class="badge badge-info">{{ task?.due_date + ' UTC' | date: 'dd-MMM-yyyy hh:mm a' }}</span> <br> 
                                Assigned By: {{ task?.assigned_by.name }} <br>
                                Assigned To: {{ task?.assigned_to.name }} <br>
                                Status: {{task?.task_status.name}}

                                <hr>
                                <div class="form-group">
                                    <label for="">Change Status</label>
                                    <select #statusIdt class="form-control">
                                        <option *ngFor="let allowedTaskStatus of allowedTaskStatuses" 
                                            [selected]="allowedTaskStatus.idt == task?.task_status.idt"
                                            value="{{allowedTaskStatus.idt}}">
                                                {{allowedTaskStatus.name}}
                                        </option>
                                    </select>
                                </div>
                                <button class="btn btn-sm btn-primary" (click)="changeStatus(task.id, statusIdt.value)">Change Status</button>
                                <button (click)="closeTaskModal()" class="btn btn-sm btn-danger">Close</button>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Comments</div>
                            <div class="card-body">

                                <div class="comments-holder" #scrollable>
                                    <div 
                                        class="col-md-10 {{ comment.created_by.id == currentUser?.id ? 'offset-md-2' : '' }} alert alert-info p-1" 
                                        *ngFor="let comment of task.task_comments">
                                            {{comment.comment}} <br>
                                        <span *ngIf="comment.created_by.id != currentUser?.id" class="badge badge-info">{{comment.created_by.name}}</span>
                                    </div>
                                </div>
        
                                <br>
                                <div class="form-group">
                                    <textarea [(ngModel)]="new_comment" class="form-control" rows="3"></textarea>
                                </div>
                                <button [disabled]="new_comment==''" (click)="postComment(task.id)" class="btn btn-sm btn-block btn-primary">
                                    <i class="fa fa-send"></i>
                                    Post Comment
                                </button>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeTaskModal()">Close</button>
            </div> -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->