<div class="card animated fadeIn">
    <div *ngIf="loading" class="card-body">
        <i class="fa fa-spinner fa-spin"></i>
        Loading...
    </div>
    <div *ngIf="!loading" class="card-body">
        
        <!-- {{ mainForm.value | json }} -->
        <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">Task Description</label>
                <input type="text" class="form-control" formControlName="task_description" >
                <app-field-validation [formGroupToValidate]="mainForm" controlName="task_description"></app-field-validation>
            </div>

            <label for="">Due Date / Time</label>
            <div class="input-group mb-3">
                <div class="form-control">{{mainForm.get('due_date').value}}</div>
                <div class="input-group-append">
                  <span [owlDateTimeTrigger]="dt1" class="input-group-text" id="basic-addon2">
                      <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>

            <div class="form-group" style="height: 0px; overflow: hidden;">
                <input [owlDateTime]="dt1" class="form-control" formControlName="due_date" >
                <owl-date-time #dt1></owl-date-time>
                <app-field-validation [formGroupToValidate]="mainForm" controlName="due_date"></app-field-validation>
            </div>

            <div class="form-group">
                <label for="">Assigned To</label>
                <select class="form-control" formControlName="assigned_to" multiple>
                    <option *ngFor="let user of activatedUsers" value="{{user.id}}">{{user.name}}</option>
                </select>
                <app-field-validation [formGroupToValidate]="mainForm" controlName="assigned_to"></app-field-validation>
            </div>

            <div class="text-right">
                <button class="btn btn-primary" [disabled]="loading || !mainForm.valid">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>


    </div>
</div>