// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@import "~ng-pick-datetime/assets/style/picker.min.css";

.no-data-available {
text-align: center;
}

.dataTables_empty {
display: none;
}

.ui-calendar {
    width: 100%;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
}
