<div class="card animated fadeIn">
    <div *ngIf="loading" class="card-body">
        <i class="fa fa-spinner fa-spin"></i>
        Loading...
    </div>
    <div *ngIf="!loading" class="card-body">
        
        <!-- {{ mainForm.value | json }} -->
        <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" formControlName="name" >
                <app-field-validation [formGroupToValidate]="mainForm" controlName="name"></app-field-validation>
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" formControlName="email" >
                <app-field-validation [formGroupToValidate]="mainForm" controlName="email"></app-field-validation>
            </div>

            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" formControlName="password" >
                <span *ngIf="editingId != ''" class="text-muted">Leave empty if you do not want to change password</span>
                <app-field-validation [formGroupToValidate]="mainForm" controlName="password"></app-field-validation>
            </div>

            <div class="form-group">
                <label for="">Confirm Password</label>
                <input type="password" class="form-control" formControlName="password_confirmation" >
                <span *ngIf="editingId != ''" class="text-muted">Leave empty if you do not want to change password</span>
                <app-field-validation [formGroupToValidate]="mainForm" controlName="password_confirmation"></app-field-validation>
            </div>

            <div class="text-right">
                <button class="btn btn-primary" [disabled]="loading || !mainForm.valid">
                    <i class="fa fa-save"></i> Save
                </button>
            </div>
        </form>


    </div>
</div>