<div class="animated fadeIn">
  
  <div *ngIf="tasks">
    <div class="card">
      <div class="card-header">Tasks Assigned To Me</div>
      <div class="body p-2">
  
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">Pending</div>
              <div class="card-body">
                <div class="row">
                  <div *ngFor="let task of tasks.assigned_to_me_by_others" class="col-md-6">
                    <app-task *ngIf="task.task_status.idt != 'completed'" [task]="task" (taskModalOpenedClosed)="taskModalOpenedClosed($event)"></app-task>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-header">Completed</div>
              <div class="card-body">
                <div class="row">
                  <div *ngFor="let task of tasks.assigned_to_me_by_others" class="col-md-12">
                    <app-task *ngIf="task.task_status.idt == 'completed'" [task]="task" (taskModalOpenedClosed)="taskModalOpenedClosed($event)"></app-task>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


  
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        Tasks Assigned By Me To Others
        <button class="btn btn-sm btn-primary" [routerLink]="['/tasks/create']"  >
          <i class="fa fa-plus-circle"></i>
          New Task
        </button>
      </div>
      <div class="body p-2">
  
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">Pending</div>
              <div class="card-body">
                <div class="row">
                  <div *ngFor="let task of tasks.assigned_by_me_to_others" class="col-md-6">
                    <app-task *ngIf="task.task_status.idt != 'completed'" [task]="task" (taskModalOpenedClosed)="taskModalOpenedClosed($event)"></app-task>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header">Completed</div>
              <div class="card-body">
                <div class="row">
                  <div *ngFor="let task of tasks.assigned_by_me_to_others" class="col-md-12">
                    <app-task *ngIf="task.task_status.idt == 'completed'" [task]="task" (taskModalOpenedClosed)="taskModalOpenedClosed($event)"></app-task>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


  
      </div>
    </div>
  </div>

</div>
