<div class="animated fadeIn">
  
  <div *ngIf="tasks">
    <div class="card">
      <div class="card-header">Tasks Assigned To Me</div>
      <div class="body p-2">
  
        <div class="row">
          <div *ngFor="let task of tasks.assigned_to_me_by_others" class="col-md-3">
            <app-task [task]="task"></app-task>
          </div>
        </div>
  
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">Tasks Assigned By Me To Others</div>
      <div class="body p-2">
  
        <div class="row">
          <div *ngFor="let task of tasks.assigned_by_me_to_others" class="col-md-3">
            <app-task [task]="task"></app-task>
          </div>
        </div>
  
      </div>
    </div>
  </div>

</div>
